/* estilos globales */
span,h1,p,input,button,label{
  font-family: 'Open Sans', sans-serif;
}

table{
  width: 100%;
}

td p,th p{
  font-size: 1.4rem;
  text-align: center;
  padding: 0.5rem 2rem;
}

th
{
  border-bottom: 2px solid black;
}

.datalist:hover{
  background-color: rgb(255, 255, 255);
}

td{
  border-bottom: 1px solid black;
}

button{
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(161, 161, 161);
  background-color: rgb(1, 106, 133);
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

button:hover{  background-color: rgb(0, 65, 82);}

/* estos estilos se crearon para los botones de modificar y eliminar*/
.center{text-align: center;}

/*este estilo se creo para botones de eliminar principalmente*/
.red{background-color: rgb(175, 0, 0);}
.red:hover{background-color: rgb(133, 0, 0);}

.conslist{
  padding: 2rem;
  width: 100%;
}