.messagealert{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.messagealert .title{
    font-size: 2rem;
    font-weight: 700;

}
.messagealert .note{
    font-size: 1.4rem;
    font-weight: 700;
    color: rgb(168, 0, 0);
}


.segmentdelete{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}