.upper_menu{
    width: 100%;
    padding: 1rem;
    background-color: rgb(0, 80, 100);
    display: grid;
    grid-template-columns: 20% 60% 20%;
    border-bottom: 2px solid rgb(18, 84, 100);
}
.logo{
    color: white;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.user{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 2rem;
    padding-right: 2rem;
}
.user .imguser{
    width: 4rem;
    background-color: white;
    border-radius: 10rem;
    padding: 1rem;
}
.user .imguser img{
    width: 100%;
}
.barsearch{
    margin: auto;
    width: 100%;
}
.barsearch input{
    width: 100%;
    padding: 0.5rem;
}
.nameuser{
    font-size: 1.6rem;
    color: white;
    font-weight: 700;
}